.footer__main{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  background: #094C83;
  position: relative;
  overflow: hidden;
}

.footerBg {
  position: absolute;
  left: 0;
  height: 192px;
  pointer-events: none;
}

.footer__logos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2.5rem 1.5rem;
  padding-bottom: 0;
}

.footer__logos a {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mec__logo{
  width: 10rem;
  z-index: 9;
}

.footer_mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer_contact_social{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.footer_contact_social a{
  text-decoration: none;
    cursor: pointer;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #ffff;
}
.footer_contact_social a:hover{
  transform: scale(1.25);
}

.excel__logo{
  width: 6rem;
}
.footer__made{
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Inter';
}

.footer_heart {
  margin: 0 0.25rem;
  position: relative;
  top: 3px;
  color: #21b8cb;
}


@media (min-device-width: 20px) and (max-device-width: 500px){

}

@media only screen and (max-width:1300px){

}
@media only screen and (max-width:1200px){
    
}
@media only screen and (max-width:1100px){
    
}
@media only screen and (max-width:992px){
  .footerBg {
    display: none;
  }
  .footer__logos {
    padding: 2rem 1rem;
    padding-bottom: 0;
  }
}
@media only screen and (max-width:800px){
  .footer__logos {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width:600px){
    
}