.testimonials {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin-top: 2rem;
    font-family: 'Inter';
    position: relative;
}

.test_bg {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

.testimonials__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
}

.testimonials_section {
    width: 100%;
    position: relative;
}

.testimonials__slider {
    width:80%;
    padding: 2rem;
    margin: auto;
}

.testimonials__container {
    display: flex;
}

.testimonial__prev, .testimonial__next {
    position: absolute;
    font-size: 2.75rem;
    cursor: pointer;
    color: #094C83;
    top: 50%;
    z-index: 2;
    opacity: 0.9;
}

.testimonial__prev {
    left: 100px;
}

.testimonial__next {
    right: 100px;
}

.testimonialCard {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    padding: 4rem 3rem;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: -6.77143px -6.77143px 13.5429px rgb(0 0 0 / 5%), 6.77143px 6.77143px 13.5429px rgb(0 0 0 / 10%);
    gap: 1.5rem;
}

.testimonial_img {
    flex: 0.4;
    display: flex;
    align-items: flex-start;
}

.testimonial_img img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    padding: 0.25rem;
    /* object-fit: cover; */
}


.testimonial_content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: var(--primary-font);
}

.test_text {
    width: 100%;
    position: relative;
}

.quotes_left {
    position: absolute;
    font-size: 2.25rem;
    color: #9ACE7C;
    opacity: 0.5;
    top: -40px;
    left: -20px;
}

.test_text p {
    color: var(--text-main);
    font-size: 1rem;
    font-weight: 600;
    line-height: 130%;
    font-family: var(--primary-font);
}

.testimonial_content h1 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}
.testimonial_content h2 {
    color: var(--secondary-color);
    font-size: 1.15rem;
    font-weight: 600;
}
.testimonial_content h3 {
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 400;
}



@media only screen and (max-width: 1300px) {
    .testimonials__slider {
        width: 86%;
        padding: 2rem;
    }
    .testimonial__prev {
        left: 90px;
    }
    
    .testimonial__next {
        right: 90px;
    }
    
}

@media only screen and (max-width: 1200px) {
    
    .testimonials__container {
        width: 90%;
    }
    .testimonials__slider {
        width: 90%;
        padding: 2rem;
    }
    .testimonial__prev {
        left: 80px;
    }
    
    .testimonial__next {
        right: 80px;
    }
    .testimonialCard {
        width: 86%;
        margin: 2rem auto;
        padding: 3rem;
    }
}

@media only screen and (max-width: 1100px) {
    .testimonials__slider {
        width: 96%;
        padding: 1rem;
    }
    .testimonial__prev {
        left: 50px;
        font-size: 2.5rem;
    }
    
    .testimonial__next {
        right: 50px;
        font-size: 2.5rem;
    }
    .testimonialCard {
        width: 90%;
        margin: 2rem auto;
        padding: 3rem 2rem;
    }
}

@media screen and (max-width: 992px) {
    .testimonial__prev {
        left: 30px;
        font-size: 2rem;
    }
    .testimonials__container {
        width: 100%;
    }
    
    .testimonial__next {
        right: 30px;
        font-size: 2rem;
    }
    .testimonialCard {
        flex-direction: column;
        width: 90%;
        gap: 1rem;
        margin: 1rem auto;
        padding: 2rem 3rem;
    }
    .testimonial_img {
        flex: 1;
    }
    .testimonial_img {
        align-items: center;
        justify-content: center;
        margin-bottom: 0.35rem;
    }
    .testimonial_img img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 800px) {
    .testimonial__prev {
        left: 5px;
        font-size: 2rem;
    }
    
    .testimonial__next {
        right: 5px;
        font-size: 2rem;
    }
    .testimonialCard {
        width: 90%;
        padding: 2rem;
    }
    .testimonial_img img {
        width: 190px;
        height: 190px;
    }

    .quotes_left {
        top: -40px;
        font-size: 2rem;
        left: -15px;
    }
    .test_text p {
        font-size: 0.9rem;
    }
    .testimonial_content h1 {
        font-size: 1.3rem;
        margin-top: 1rem;
    }
    .testimonial_content h2 {
        font-size: 1.05rem;
    }
    .testimonial_content h3 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 600px) {
    .quotes_left {
        font-size: 1.5rem;
        top: -30px;
        left: -15px;
    }
    .testimonial_img img {
        width: 175px;
        height: 175px;
    }
}

@media screen and (max-width: 400px) {

}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}