.landing_main {
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: flex-start;
 }
 .video_container{
    margin-top: -114px;
 }

 @media only screen and (max-width:1300px){
    .landing_main {
        min-height: 80vh;
     }
 }
 @media only screen and (max-width:1200px){
     
 }
 @media only screen and (max-width:1100px){
     
 }
 @media only screen and (max-width:992px){
    .landing_main{
        min-height: 51vh;
        background-color: #094C83;
        align-items: center;
    }

     .video_container{
        height: 30vh;
        width: 90vw;
        margin: auto;
    }

    
 }

 @media only screen and (max-width:600px){
    .landing_main{
        min-height: 61vh;
    }
     .video_container{
        height: 40vh;
        width: 90vw;
        margin: auto;
    }
 }

 @media only screen and (max-width:400px){
     .landing_main{
        min-height: 55vh;
        background-color: #094C83 !important;
     }
 }