.faqtitle{
    width: 154px;
    height: 74px;
    position: relative;
    margin: 0 auto;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 74px;
    text-transform: capitalize;
}
.faq__maindiv{
    margin-top: 5%;
}

.faq {
    margin: 5%;
 }
 .faq-heading {
    text-align: center !important;
    margin-bottom: 1% !important;
 }
 .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
 }
 .accordion .accordion-item button[aria-expanded="true"] {
    border-bottom: 1px solid #007bb5;
 }
 .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em;
    padding-right: 2em;
    color: #474747;
 
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
 }
 .accordion button:hover {
    font-weight: 600;
 }
 .accordion button:hover,
 .accordion button:focus {
    cursor: pointer;
    color: #007bb5;
 }
 .accordion button:hover::after,
 .accordion button:focus::after {
    cursor: pointer;
    color: #007bb5;
    border: 1px solid #007bb5;
 }
 .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
 }
 .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
 }
 .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
 }
 .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
 }
 .accordion button[aria-expanded="true"] {
    color: #007bb5;
    font-weight: 600;
 }
 .accordion button[aria-expanded="true"] .icon::after {
    width: 0;
 }
 .accordion button[aria-expanded="true"] + .accordion-content {
    opacity: 1;
    max-height: 55em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
 }
 .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
 }
 .accordion .accordion-content p {
    margin: 1em 0;
 }
 /*Judgment Criteria */
 .paddin {
    padding-top: 10px;
    padding-left: 2%;
 }