.faqtitle{
    width: 154px;
    height: 74px;
    position: relative;
    margin: 0 auto;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 74px;
    text-transform: capitalize;
}
.faq__maindiv{
    margin-top: 5%;
}
.accordionQue{
    /* color:"#195AC7",
    
    fontSize:"130%" */
    color: #195AC7;
    font-family:"Poppins" ;
    font-size: 130%;

}
.accordionAns{
    color: #195AC7;
    font-family:"Blender Pro" ;
    font-size: 100%;
   margin-left: 3%;
}
