
.faq__parent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 4rem;
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}
.faq__title{
  color: #094C83;
  font-size: 2rem;
  font-family: 'Poppins';
  font-weight: 400;
}

.faq__child1{
  display: flex;
  flex-direction: column;
  /* background-color: #17C9AC; */
  align-items: center;
  justify-content: space-around;
  flex: 0.5;
}

.faq__question{
    display: flex;
    width: 50vw;
    border: 1px solid rgba(23, 201, 172, 0.4);
    padding: 1rem;
    font-family: 'Inter';
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.faq__question:hover {
    color: #ffff;
    background-color:  #21B8CBCC;
}
.faq__questions{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
/* .faq__child2{
  background-image: url('../../assets/png/answerboxanim.png');
  background-size: 100%;
  background-repeat: no-repeat;

  
    background: linear-gradient(180deg, rgba(23, 201, 172, 0.08) 29.92%, rgba(23, 201, 172, 0.31) 100%);
    flex: 0.5;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    height: 59vh;
   
} */
.faq__child2{
  background: linear-gradient(180deg, rgba(23, 201, 172, 0.08) 29.92%, rgba(23, 201, 172, 0.31) 100%);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: 50vh;
  width: 40vw;
  border-radius: 2rem;
}
.faq__ansbox__container{
  /* background-image: url('../../assets/png/answerboxanim.png'); */
  background-color: #17C9AC;
  background-size: 100%;
  background-repeat: no-repeat;
  flex: 0.5;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  height: 50vh;
}
.faq__answer__title{
    font-weight: 500;
    font-size: 20px;
    color: #278A8C;
    padding: 1rem;
}
.faq__answer__content{
    margin-top: 2%;
   
    color: rgba(39, 138, 140, 0.8);
    font-weight: 400;
    font-size: 16px;
    padding: 0 1rem;
}
.faq__title{
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 52px;
   
}
.faq__child__container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  width: 100%;
  justify-content: space-around;
  
}


/* bubbles */


/* Main bubbles */

 .bubble-holder{
    width:100%;
    height: 1000px;
    position: relative;
    overflow:hidden;
  }
  
  .bubble-1 {
    left: 8%;
    animation-delay: 1s;
  }
  .bubble-1 .bubble-animation-y{
    animation-duration: 7s;
    animation-delay: 0s;
  }
  
  .bubble-2 {
    left: 40%;
    animation-delay: 2s;
  }
  .bubble-2 .bubble-animation-y{
    animation-duration: 6s;
    animation-delay: 2s;
  }
  
  .bubble-3 {
    right: 15%;
    animation-delay: 1s;
  }
  .bubble-3 .bubble-animation-y{
    animation-duration: 5s;
    animation-delay: 1.5s;
  }
  
  .bubble-4 {
    left: 8%; 
    animation-delay: 2s;
  }
  .bubble-4 .bubble-animation-y{
    animation-duration: 6s;
    animation-delay: 3s;
  }
  
  .bubble-5 {
    left: 40%; 
    animation-delay: 1s;
  }
  .bubble-5 .bubble-animation-y{
    animation-duration: 5s;
    animation-delay: 0;
  }
  
  .bubble-6 {
    left: 45%;
    animation-delay: 2s;
  }
  .bubble-6 .bubble-animation-y{
    animation-duration: 7s;
    animation-delay: 3.5s;
  }
  
  .bubble-7 {
    right: 15%;
    animation-delay: 1s;
  }
  .bubble-7 .bubble-animation-y{
    animation-duration: 5.5s;
    animation-delay: 3s;
  }
  
  .bubble-8 {
    right: 5%;
    animation-delay: 2s;
  }
  .bubble-8 .bubble-animation-y{
    animation-duration: 7s;
    animation-delay: 3s;
  }
   
  
  /* Static Circles */
  
  
  
  .bubble-9 {
    top: -375px;
    left: 14%;  
  }
  
  .bubble-10 {
    bottom: -350px;
    right: -50px;	
  }
  
  .bubble-container{
    position: absolute;
    bottom: -250px; 
  }
  
  .bubble-large, .bubble-small {
    border-radius: 100%;  
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1), 
    inset 0px 10px 30px 5px rgba(96, 147, 195, 1);
  }
  
  .bubble-large {
    /* //border: 7px solid #055E8F;   */
    width: 10px;
    height: 10px;
  }
  
  .bubble-small {
    /* //border: 5px solid #055E8F; */
    width: 10px;
    height: 10px;
  }
  
  .bubble-animation-x { 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bubbleXAnimFrames;
    animation-timing-function: ease;
    animation-direction: alternate;
  }
  
  .bubble-animation-y { 
    animation-iteration-count: infinite;
    animation-name: bubbleYAnimFrames;
    animation-timing-function: linear;
  }
  
  
   @keyframes bubbleXAnimFrames {
    0% {
      transform: translateX(0);
     }
    100% {
      transform: translateX(50px);
     }
  }
  
   @keyframes bubbleYAnimFrames {
    0% {
      transform: translateY(0);
     }
    50% {
      opacity: 85%;
     }
    100% {
      transform: translateY(-1250px);
      opacity: 0;
     }
  }
  /* bubble ends */

  /* wave starts */
  .faq__ocean{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .faq__ocean .faq__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../../assets/png/green\ wave.png');
    background-size: 100% 100%;


  }
  .faq__ocean .faq__wave1{
    animation: animate 3s linear infinite;
    z-index: 20;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;

  }
  .faq__ocean .faq__wave2{
    animation: animate2 1s linear infinite;
    z-index: 19;
    opacity: 0.5;
    animation-delay: 1s;
    bottom: 10px;

  }
 
  @keyframes animate{
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x:300px ;
    }
  }
  @keyframes animate2{
    0%{
      background-position-x: 0;
    }
    100%{
      background-position-x: -300px ;
    }
  }
 


  /* wave ends */

  /*mobile view*/
  @media (min-device-width: 20px) and (max-device-width: 500px){

    .faq__child__container{
      display: flex;
      flex-direction: column-reverse;
      
      
      width: 100%;
      justify-content: flex-start;
      
    }
    .faq__question{
      width: 85vw;
      padding: 0.5rem;
    }
    .faq__child2{
      width: 90vw;
      height: 33vh;
      padding: 0.15rem;
    }

  }
  
@media only screen and (max-width:1300px){

}
@media only screen and (max-width:1200px){
    
}
@media only screen and (max-width:1100px){
    
}
@media only screen and (max-width:992px){
    .faq__child__container{
      flex-direction: column-reverse;
    }
}
@media only screen and (max-width:800px){
    
}
@media only screen and (max-width:600px){
    
}
@media only screen and (max-width:600px){
  .faq__answer__content{
    overflow-y: scroll;
  }
}