/* DESKTOP */
.main_div{
    /* margin-top: 5%; */
}
.title{
    width: 154px;
    height: 74px;
    position: relative;
    margin: 0 auto;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 74px;
    text-transform: capitalize;
}
.desc{
    width: 67%;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.greenBar{
    margin: 0 auto;
    background-color: #59BA89;
    width: 364px;
    height: 65px;
    position: relative;
    margin-top: 2%;
    border-radius: 10px;
}


/* TABLET */



/* MOBILE */