/* DESKTOP */
.main_div{
    margin-top: -7%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    /* width: 154px; */
    display: flex;
    width: fit-content;
    height: 74px;
    position: relative;
    /* margin: 0 auto; */
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 74px;
    text-transform: capitalize;
}
.desc{
    width: 67%;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 39px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 6%;
}
.greenBar{
    margin: 0 auto;
    background-color: #59BA89;
    width: 364px;
    height: 65px;
    color: #FFFF;
    padding:2%;
    position: relative;
    margin-top: 2%;
    border-radius: 10px;
}


/* TABLET */



/* MOBILE */
@media (min-device-width: 20px) and (max-device-width: 500px){
    .desc{
        width: 90%;
        display: flex;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 39px;
        position: relative;
        text-align: center;
        margin: 0 auto;    
    }
    .title{
        font-size: 245%;
        font-weight: 700;
    }
}