/* DESKTOP */
.main_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem ;
}
.about__logo__title{
    width: 10rem;
}
.about__logotitle{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.about__title{
    position: relative;
    text-transform: capitalize;
    font-size: 50;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 74px;
    text-transform: capitalize;
    color: #000000;
    font-family: 'Space Mono';
    font-style: normal;
}
.about__desc{
    width: 60%;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-size: 1rem;
    line-height: 28px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
}

.about_btn {
    border: none;
    outline: none;
    font-size: 1.05rem;
    font-family: 'Inter';
    padding: 0.95rem;
    width: 170px;
    background: rgb(9,76,131);
    background: linear-gradient(0deg, rgba(9,76,131,1) 0%, rgba(33,184,203,1) 100%);
    cursor: pointer;
    border-radius: 15px;
    margin: 2rem 0;
    color: #ffffff;
    transition: ease-in 0.5s;
}

.about_btn:hover {
    background: rgb(33,184,203);
    background: linear-gradient(0deg, rgba(33,184,203,1) 0%, rgba(9,76,131,1) 100%);
}


/* TABLET */



/* MOBILE */
@media (min-device-width: 20px) and (max-device-width: 500px){
    .desc{
        width: 90%;
        display: flex;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 39px;
        position: relative;
        text-align: center;
        margin: 0 auto;    
    }
    .title{
        font-size: 245%;
        font-weight: 700;
    }
    .about__logotitle{
        width: 100%;
        display: flex;
        padding: 3%;
        flex-direction: row;
        justify-content: center;
    }
    
}
@media (min-device-width: 500px) and (max-device-width: 800px){

    .about__logotitle{
        max-height: 7vh;
    }

}
@media only screen and (max-width:1300px){

}
@media only screen and (max-width:1200px){
    
}
@media only screen and (max-width:1100px){
    
}
@media only screen and (max-width:992px){
    .about__logo__title{
        width: 8rem;
    }
    .about__desc{
        width: 80%;
    }
}
@media only screen and (max-width:800px){
    .about__logo__title{
        width: 6rem;
        display: none;
    }
}
@media only screen and (max-width:600px){
    
    .about__logo__title{
        width: 8rem;
    }
}