.problemStmt {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
.ps__header{
    color: #094C83;
    font-size: 2rem;
    font-family: 'Poppins';
    
    font-weight: 400;
}
.dialog_closer{
    cursor: pointer;
}

.problemStmt__container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
}

.problemStmt__cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
    width: 100%;
    padding: 1.5rem;
    margin-top: 5rem;
    position: relative;
}

.problemStmtCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 250px;
    height: 300px;
    /* background: linear-gradient(90deg, #094C83, #B1D89F), #EFFFEC; */
    background: linear-gradient(180deg, rgba(9, 76, 131, 0.75) 0%, #21B8CB 100%), #EFFFEC;
    /* filter: blur(2.5px); */
    box-shadow: 0.8px 0.8px 4px 0.5px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    gap: 1rem;
}

.problemStmtCard h2 {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.problemStmtCard button {
    margin-top: auto;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffffd7;
    background: rgba(255, 255, 255, 0.1);
    border: 0.1px solid #ffffff27;
    backdrop-filter: blur(200px);
    border-radius: 8px;
    font-family: var(--primary-font);
    padding: 0.55rem 1.5rem;
    cursor: pointer;
}
.problemStmtCard button:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border: 0.1px solid #ffffffe7;
}

.psDialog {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 70vh;
    font-family: var(--secondary-font);
}
.ps_main_vector{
    position: absolute;
    width: 100%;
}

.dialog_vector1 {
    position: absolute;
    top: 0;
    width: 100%;
}
.dialog_vector2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.psDialog__header {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1.5rem;
}

.psDialog__header h2 {
    color: #00A5FF;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.75rem;
}

.psDialog__content {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.psDialog__content h4 {
    font-size: 1.15rem;
    color: #00A5FF;
    font-weight: 500;
}
.psDialog__content p {
    font-size: 1rem;
    color: #1E1E1E;
}

.psDialog__content ul li {
    font-size: 1rem;
    color: #1E1E1E;
}

@media (min-device-width: 20px) and (max-device-width: 500px){
    .ps_main_vector{
        visibility: hidden;
    }
}
