.rewards_main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
}
.rewards_container{
    background-image: url('../../assets/images/rewards\ bg.jpeg');
    padding: 3rem;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter';
    gap: 3rem;
}
.reward_money{
    font-size: 3rem;
}
.reward_price_box{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 3rem;
    gap: 1rem;
    align-items: center;
    background:rgba(255,255,255,.25);
    border-radius: 10px;
}

.reward_title{
    font-size: 2rem;
}
.rewards_list{
    display: flex;
    flex-direction: column;
}
.reward_list_item{
    margin-top: 1rem;
    font-size: 1rem;
}

@media (min-device-width: 20px) and (max-device-width: 500px){
    .rewards_container{
        padding: 0.5rem;
        width: 80%;
    }
    .reward_price_box{
        padding: 0.5rem;
        width: 96%;
    }
}

@media only screen and (max-width:1300px){
    .rewards_container{
        /* width: 20vw;
        padding: 0.5rem; */
    }
}
@media only screen and (max-width:1200px){
    .rewards_container{
        /* width: 20vw;
        padding: 0.5rem; */
    }
}
@media only screen and (max-width:1100px){
    .rewards_container{
        /* width: 20vw;
        padding: 0.5rem; */
    }
}
@media only screen and (max-width:992px){
    .rewards_container{
        /* width: 20vw;
        padding: 0.5rem; */
    }
}
@media only screen and (max-width:800px){
    .rewards_container{
        width: 60vw;
        padding: 0.5rem;
    }
    .reward_price_box{
        padding: 0.2rem;
    }
}
@media only screen and (max-width:600px){
    .rewards_container{
        width: 80vw;
        padding: 0.5rem;
    }
    .reward_price_box{
        padding: 0.2rem;
        width: 90%;
    }
}
@media screen and (max-width: 400px) {
    .rewards_container{
        width: 80vw;
        padding: 0.2rem;
    }
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}