.whyParticipate {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 100;
    min-height: 100vh;
}

.el_1{
    z-index:-100;
    position:absolute;
    left:-15px;
    margin-top: -12.5%;
    
}
.el_2{
    z-index:-100;
    position:absolute;
    left:40%;
    margin-top: -25%;
    
}
.el_3{
    z-index:-1;
    position:absolute;
    left:40%;
    margin-top: 19%;
}
.whyParticipate__container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
}

.wpC__left {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.whyParticipate_img {
    pointer-events: none;
    width: 80%;
}

.wpc__header {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: capitalize;
    color: #000000;
}

.wpC_slider {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

/* 
.slick-slider {
    height: 100% !important;
} */


.slick-initialized { 
    overflow: hidden; 
}

/* .slick-list {
    height: 75vh !important;
} */

.slider__arrow {
    font-size: 1.55rem;
    cursor: pointer;
}


.wpC__right {
    /* flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height:100%;
    width:100%; */
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.whyParticipateCard {
    background: #FFFFFF;
    box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 1rem;
    height: 100px;
    display: flex;
    margin-bottom: 0.3rem;
}

.wpc__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background: linear-gradient(0deg, #EBF6FF, #EBF6FF), #EFFFEC;
    border-radius: 8px;
}
.wpc__img img {
    width: 60%;
}

.wpc__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.8;
}

.wpc__content p {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 1.05rem;
    color: #1D293F;
    padding: 0.75rem;
}

@media  only screen and (max-width:1400px) {
    .whyParticipate__container{
        display: block;
    }
    .wpC__left{
        width:100% !important;
        /* flex:0;
        position:relative;
        left:0;
        right:0; */
        align-items: center;
        justify-content: center;

    }
    .wpC_slider {
        height:fit-content;
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wpcSlider {
        align-self: center;
        width: 100%;
        position: relative;
        left:0;
        right:0;
    }

      .whyParticipateCard { 
        margin-top: 5px;
        margin-bottom: 7px;
        padding:2px;
        height: 90px;
        
    }

    .wpc__content p{
        font-size: 1rem;
        margin-left: 15px;
        font-family: 'Inter';
    }
    .whyParticipate {
        min-height: fit-content;
        width:100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .ellipse{
        display: none;
        
    }
    .wpc__content p {
        padding:0;
       
    }
}
@media  only screen and (max-width:800px){
    /* .whyParticipateCard{
        width: 60%;
    }
    .whyParticipate__container{
        justify-content: center;
    } */
}

@media  only screen and (max-width:450px) {
    .wpc__content p {
        font-size: 0.9rem;
        margin-right: 3px;
        padding:0;
    }
    .wpc__content{
        flex:1;
        
    }
    .whyParticipateCard{
        width: 60%;
    }
}

@media only screen and (max-width:1300px){

}
@media only screen and (max-width:1200px){
    .whyParticipate__container {
        width: 90%;
    }
}
@media only screen and (max-width:1100px){

}
@media only screen and (max-width:992px){
    .wpc_mobile_animation img{
        width: 80%;
        margin-left: 10%;
    }
    .whyParticipate__container {
        width: 100%;
    }
}
@media only screen and (max-width:800px){
    
}
@media only screen and (max-width:600px){
    
}