/*------------------ Navbar Section ------------------------------*/

.menu-wrap {
  position: fixed;
  top: 2%;
  left: 2%;
  z-index: 18;
}
.nav__main_container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav__full_wrapper{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
}
.nav__outside_logo{
  width: 10rem;
  cursor: pointer;
  z-index: 9;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  z-index: 10;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: #094C83;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: "";
  position: absolute;
  z-index: 20;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: 1s;
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  /* background:#094C83 ;  */
  background: linear-gradient(300deg, white, #9dcff5, #c5ddff);
  background-size: 180% 180%;
  animation: gradient-animation 3s ease infinite;
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease; 
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  font-size: 1.7rem;
  height: 2.8rem;
  padding: 1.2%;
  white-space: nowrap;
}

.menu-wrap .menu>div>div>ul>li>a {
  background: -webkit-linear-gradient(#094C83, #21B8CB);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Poppins';
  text-decoration: none;
  /* font-weight: 500; */
  transition: color 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li>a:hover,
.menu-wrap .menu>div>div>ul>li>a:focus {
  color: #094C83;
}

.menu-wrap .menu>div>div>ul>li>a:hover:after {
  content: "";
  display: block;
  width: 50px;
  border-bottom: 2px solid #094C83;
  margin: -2px auto;
  border-radius: 100px; 
}


video {
  display: block;
  width: 100%;
  height: 100%;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .wave-pattern svg {
    width: calc(160% + 1.3px);
    height: 150px;
  }
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}




/** --------------------------------------------------- For mobile devices ---------------------------------------------------**/
@media screen and (max-width: 992px) {

}

@media screen and (max-width: 800px) {
  .nav__outside_logo{
    width: 8rem;
  }
  .menu-wrap .hamburger{
    width: 56px;
    height: 56px;
  }
  .menu-wrap .menu>div>div>ul>li {
    list-style: none;
    font-size: 1.4rem;
    padding: 0.25rem 0;
    white-space: nowrap;
  }
}

@media screen and (max-width: 600px) {
  .nav__outside_logo{
    width: 7rem;
  }
  .menu-wrap .hamburger{
    width: 52px;
    height: 52px;
  }
}

@media screen and (max-width: 400px) {
  .nav__outside_logo{
    width: 7rem;
  }
  .menu-wrap .hamburger{
    width: 48px;
    height: 48px;
  }
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}